.terms {
    max-width: 760px;
    margin: 0 auto;
    background-color:#FFF;
    padding:20px;
    border: solid 1px #555;
    box-shadow: 5px 5px 5px #555;
}

.header {
    text-align: center;
    margin: 0 auto;
}

.law {
    font-style: italic;
}

.olWithParens {
    list-style-type: parenthesized-lower-latin;
}
